@page "/flights"
@*@inject IService<Flight> FlightService*@
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@* @attribute [RenderModeInteractiveServer] *@
@* @rendermode InteractiveServer  *@

<h3>Flight List</h3>

@if (flightpaths == null)
{
    <span>Loading...</span>
}
else if(flightpaths.Count == 0)
{
    <span>No games found.</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Origin
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Iata Origin
                </th>
                <th>
                    Iata Destination
                </th>
                <th>
                    Arrival Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in flightpaths)
            {
                <tr>
                    <td>
                        @item.ArrivalTime
                    </td>
                    <td>
                        @item.ArrivalTime
                    </td>
                    <td>
                        @item.ArrivalTime
                    </td>
                    <td>
                        @item.ArrivalTime
                    </td>
                    <td>
                        @item.ArrivalTime
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<button @onclick="AddFlight" class="btn btn-primary">Add Flight</button>

@code {



    List<Flight>? flightpaths;

    protected override async Task OnInitializedAsync()
    {

        flightpaths = GetDummyFlights();
    }


    public List<Flight> GetDummyFlights()

    {

        var iataLocations = new List<IataLocation>

    {

        new IataLocation { Id = 1, Iata = "JFK", City = "New York" },

        new IataLocation { Id = 2, Iata = "LAX", City = "Los Angeles" },

        new IataLocation { Id = 3, Iata = "LHR", City = "London" },

        new IataLocation { Id = 4, Iata = "CDG", City = "Paris" },

        new IataLocation { Id = 5, Iata = "DXB", City = "Dubai" },

        new IataLocation { Id = 6, Iata = "HKG", City = "Hong Kong" },

        new IataLocation { Id = 7, Iata = "SYD", City = "Sydney" },

        new IataLocation { Id = 8, Iata = "FRA", City = "Frankfurt" },

        new IataLocation { Id = 9, Iata = "SIN", City = "Singapore" },

        new IataLocation { Id = 10, Iata = "NRT", City = "Tokyo" }

    };

        return new List<Flight>

    {

        new Flight

        {

            Id = 1,

            DepartureTime = new DateTime(2025, 3, 26, 8, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 10, 30, 0),

            IatadestinationId = 2,

            IataoriginId = 1,

            Iatadestination = iataLocations[1],

            Iataorigin = iataLocations[0]

        },

        new Flight

        {

            Id = 2,

            DepartureTime = new DateTime(2025, 3, 26, 9, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 11, 30, 0),

            IatadestinationId = 3,

            IataoriginId = 2,

            Iatadestination = iataLocations[2],

            Iataorigin = iataLocations[1]

        },

        new Flight

        {

            Id = 3,

            DepartureTime = new DateTime(2025, 3, 26, 10, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 12, 30, 0),

            IatadestinationId = 4,

            IataoriginId = 3,

            Iatadestination = iataLocations[3],

            Iataorigin = iataLocations[2]

        },

        new Flight

        {

            Id = 4,

            DepartureTime = new DateTime(2025, 3, 26, 11, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 13, 30, 0),

            IatadestinationId = 5,

            IataoriginId = 4,

            Iatadestination = iataLocations[4],

            Iataorigin = iataLocations[3]

        },

        new Flight

        {

            Id = 5,

            DepartureTime = new DateTime(2025, 3, 26, 12, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 14, 30, 0),

            IatadestinationId = 6,

            IataoriginId = 5,

            Iatadestination = iataLocations[5],

            Iataorigin = iataLocations[4]

        },

        new Flight

        {

            Id = 6,

            DepartureTime = new DateTime(2025, 3, 26, 13, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 15, 30, 0),

            IatadestinationId = 7,

            IataoriginId = 6,

            Iatadestination = iataLocations[6],

            Iataorigin = iataLocations[5]

        },

        new Flight

        {

            Id = 7,

            DepartureTime = new DateTime(2025, 3, 26, 14, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 16, 30, 0),

            IatadestinationId = 8,

            IataoriginId = 7,

            Iatadestination = iataLocations[7],

            Iataorigin = iataLocations[6]

        },

        new Flight

        {

            Id = 8,

            DepartureTime = new DateTime(2025, 3, 26, 15, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 17, 30, 0),

            IatadestinationId = 9,

            IataoriginId = 8,

            Iatadestination = iataLocations[8],

            Iataorigin = iataLocations[7]

        },

        new Flight

        {

            Id = 9,

            DepartureTime = new DateTime(2025, 3, 26, 16, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 18, 30, 0),

            IatadestinationId = 10,

            IataoriginId = 9,

            Iatadestination = iataLocations[9],

            Iataorigin = iataLocations[8]

        },

        new Flight

        {

            Id = 10,

            DepartureTime = new DateTime(2025, 3, 26, 17, 0, 0),

            ArrivalTime = new DateTime(2025, 3, 26, 19, 30, 0),

            IatadestinationId = 1,

            IataoriginId = 10,

            Iatadestination = iataLocations[0],

            Iataorigin = iataLocations[9]

        }

    };

    }

    void AddFlight()
	{
		NavigationManager.NavigateTo("/flightCreation");
	}

}