@page "/fc"
@inject IService<IataLocation> IataLocationService

<h3>Flight Creation</h3>
<div class="row">
    <div class="col-md-8">
        <EditForm method="post" Model="NewFlight" OnValidSubmit="AddFlight" FormName="CreateFlight" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label for="DepartureTime" class="form-label">Departure Time:</label>
                <InputDate Type="InputDateType.DateTimeLocal"
                           min="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" 
                           id="DepartureTime" @bind-Value="NewFlight.DepartureTime" class="form-control" />
                <ValidationMessage For="() => NewFlight.DepartureTime" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="ArrivalTime" class="form-label">Arrival Time:</label>
                <InputDate Type="InputDateType.DateTimeLocal"
                           min="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" 
                           id="ArrivalTime" @bind-Value="NewFlight.ArrivalTime" class="form-control" />
                <ValidationMessage For="() => NewFlight.ArrivalTime" class="text-danger" />
            </div>

            <div class="mb-3">
                <h4>Select Origin:</h4>
                <InputSelect id="IataOriginId" @bind-Value="NewFlight.IataoriginId">
                    @if (Iatas.Count() == 0)
                    {
                        <span>Loading...</span>
                    }
                                        else
                    {@foreach (var iata in Iatas)
                        {
                            <option value="@iata">From: @iata.Iata (@iata.City)</option>
                        }
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                <h4>Select Destination:</h4>
                <InputSelect id="IataDestinationId" @bind-Value="NewFlight.IatadestinationId">
                    @if (Iatas.Count() == 0)
                    {
                        <span>Loading...</span>
                    }
                                        else
                    {@foreach (var iata in Iatas)
                        {
                            <option value="@iata">To: @iata.Iata (@iata.City)</option>
                        }
                    }
                </InputSelect>
            </div>

            <button type="submit" class="btn btn-primary">Create Flight</button>
        </EditForm>
    </div>
</div>

<h1>Test @NewFlight.ArrivalTime</h1>

@code {
    [SupplyParameterFromForm(FormName = "CreateFlight")]
    public Flight NewFlight { get; set; } = new()
    {
        DepartureTime = DateTime.Now,
        ArrivalTime = DateTime.Now
    };
 

    protected override async Task OnInitializedAsync()
    {

        Iatas = await IataLocationService.GetAll() ?? new List<IataLocation>();
    }

    public List<IataLocation>? Iatas = new List<IataLocation>();

    public async Task AddFlight()
    {

    }
}