@page "/flights"
@inject IFlightService FlightService
@inject NavigationManager NavigationManager
@attribute [Authorize(Policy = "Employee")]

<h3>Flight List</h3>

@if (flights == null)
{
    <span>Loading...</span>
}
else if(flights.Count == 0)
{
    <span>No flights found.</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Origin
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Iata Origin
                </th>
                <th>
                    Iata Destination
                </th>
                <th>
                    Arrival Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in flights)
            {
                <tr>
                    <td>
                        @item.IataOrigin.City
                    </td>
                    <td>
                        @item.IataDestination.City
                    </td>
                    <td>
                        @item.IataOrigin.Iata
                    </td>
                    <td>
                        @item.IataDestination.Iata
                    </td>
                    <td>
                        @item.ArrivalTime
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<button @onclick="GoToPackageCreation" class="btn btn-primary">Go to Package Creation</button>

@code {

    List<Flight>? flights;

    protected override async Task OnInitializedAsync()
    {
        flights = await FlightService.GetAll() ?? new List<Flight>();
    }


    
    void GoToPackageCreation()
	{
		NavigationManager.NavigateTo("/pc");
	}

}