@page "/"
@inject ITravelPackageService TravelPackageService
@inject IIataLocationService IataLocationService
@inject ICurrentWeatherService CurrentWeatherService
@rendermode InteractiveServer

<h3>Rejsepakker</h3>

@if (unsortedTravelPackages == null)
{
    <span>Loading...</span>
}
else if (unsortedTravelPackages.Count == 0)
{
    <span>No packages found.</span>
}
else 
{
    <div class="container">
        <div class="row">
    <div style="margin-top: 10px" class="col">
        <label style="width: auto; margin-bottom: -100px" for="leavingFrom" class="form-label">Rejser fra:</label>
        @* <input style="width:290px; height:25px" type="datetime" @bind-value="EarliestDeparture" /> *@
        <InputDate Type="InputDateType.Date"
                   min="@DateTime.Now.ToString("yyyy-MM-dd")"
                   style="width: 360px; height: 30px" @bind-Value="EarliestDeparture" />
    </div>
    <div style="margin-top: 10px" class="col">
        <label style="width: auto; margin-bottom: -100px" for="leavingFrom" class="form-label">Rejser fra:</label>
            <InputSelect style="width: 360px; height: 30px" id="leavingFrom" @bind-Value="selectedIataCode">
            @if (iataLocations.Count() == 0)
            {
                <span>Loading...</span>
            }
            else
            {@foreach (var iata in iataLocations)
                {
                    <option value="@iata.Id">@iata.Iata (@iata.City)</option>
                }
            }
        </InputSelect>
    </div>
        </div>
    <div style="margin-top: 10px" class="col">
        <button @onclick="FilterPackages">Opdater</button>
    </div>
    <div style="margin-top: 10px" class="col">
        <button @onclick="SwapSorting">Sorted by lowest price: @SortLowestPrice</button>
    </div>
    </div>
    <CardGroup style="margin-top: 15px">
        @foreach (var travelPackage in filteredTravelPackages)
        {
            <div style="margin-bottom: 15px" class="col d-flex">
                <Card class="h-100 d-flex flex-column" style="width: 23rem">
                    <img src="@travelPackage.Photo.PreviewImage()" class="card-img-top" alt="Picture of a hotel" />
                    <CardBody>
                        <CardTitle style="font-weight: bold">@travelPackage.Title</CardTitle>
                        <CardText style="font-style: italic; height: 60px">@travelPackage.Description</CardText>
                        <CardText style="text-decoration: underline">@travelPackage.Hotel.Name</CardText>
                    </CardBody>
                    <CardFooter>
                        <div class="row">
                            <div style="padding: 6px" class="col">
                                <small class="text-muted">Fra <b style="color: black">@(travelPackage.Hotel.Rate + travelPackage.Flightpaths.FirstOrDefault().Fare)</b>.-</small>
                            </div>
                            <div class="col" style="text-align: right">
                                <Button Color="ButtonColor.Primary" To="/chat" type="ButtonType.Link">Rejs!</Button>
                            </div>
                        </div>
                    </CardFooter>
                </Card>
            </div>
        }
    </CardGroup>
}

@code {

    public int displayedTPs; //Displayed TravelPackages int til at stoppe nye cardgroups og til at vise nye cards i loops
    @* fjern ovenstående? *@

    private async Task SelectPackage(int packageId)
    {
        SelectedPackage = unsortedTravelPackages.Find(tp => tp.Id == packageId);
        currentWeather = await CurrentWeatherService.GetCurrentWeather(SelectedPackage.Flightpaths.First().OutboundFlight.IataDestination.City);
    }
    public TravelPackage? SelectedPackage { get; set; }
    private List<TravelPackage> filteredTravelPackages = new List<TravelPackage>();
    private List<TravelPackage> unsortedTravelPackages;

    public CurrentWeather currentWeather;

    public DateTime EarliestDeparture;
    public IataLocation LeavingFrom = new IataLocation();

    public List<IataLocation> iataLocations = new List<IataLocation>();
    public int selectedIataCode;

    public void SortByPrice()
    {
        if (!SortLowestPrice)
            filteredTravelPackages = filteredTravelPackages.OrderByDescending(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
        else
            filteredTravelPackages = filteredTravelPackages.OrderBy(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
    }

    public void SwapSorting()
    {
        SortLowestPrice = !SortLowestPrice;
        SortByPrice();
         
    }
    public bool SortLowestPrice { get; private set; }

    public void FilterPackages()
    {
        var travelPackages = unsortedTravelPackages;

        travelPackages = FilterByDate(travelPackages);
        travelPackages = FilterByOrigin(travelPackages);

        displayedTPs = 0; //Reset for den nye visning
        filteredTravelPackages = travelPackages;

        SortByPrice();
    }

    private List<TravelPackage> FilterByDate(List<TravelPackage> travelPackages)
    {
        return travelPackages
            .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.DepartureTime >= EarliestDeparture))
            .ToList();
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {

            unsortedTravelPackages = await TravelPackageService.GetAll() ?? new List<TravelPackage>();
            filteredTravelPackages = new List<TravelPackage>(unsortedTravelPackages);
            foreach (TravelPackage tp in unsortedTravelPackages)
            {
                foreach (Flightpath fp in tp.Flightpaths)
                {
                    if (!iataLocations.Exists(iata => iata.Id == fp.OutboundFlight.IataOrigin.Id))
                        iataLocations.Add(fp.OutboundFlight.IataOrigin);
                }
            }
            SelectedPackage = unsortedTravelPackages.First();
            currentWeather = await CurrentWeatherService.GetCurrentWeather(SelectedPackage.Flightpaths.First().OutboundFlight.IataDestination.City);

            EarliestDeparture = DateTime.Today;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
            // Handle the error appropriately, e.g., show a user-friendly message
        }

        SortLowestPrice = false;
    }

    private List<TravelPackage> FilterByOrigin(List<TravelPackage> travelPackages)
    {

        if (selectedIataCode != null)
        {
            travelPackages = travelPackages
                .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.IataOrigin.Id == selectedIataCode))
                .ToList();
        }

        return travelPackages;
    }
}
