@page "/"
@inject ITravelPackageService TravelPackageService
@inject IService<IataLocation> IataLocationService
@inject ICurrentWeatherService CurrentWeatherService

<h3>Rejsepakker</h3>

@if (unsortedTravelPackages == null)
{
    <span>Loading...</span>
}
else if (unsortedTravelPackages.Count == 0)
{
    <span>No packages found.</span>
}
else 
{
    <div class="container">
        <div class="row">
    <div style="margin-top: 10px" class="col">
        <label style="width: auto; margin-bottom: -100px" for="leavingFrom" class="form-label">Rejser fra:</label>
        @* <input style="width:290px; height:25px" type="datetime" @bind-value="EarliestDeparture" /> *@
        <InputDate Type="InputDateType.Date"
                   min="@DateTime.Now.ToString("yyyy-MM-dd")"
                   style="width: 360px; height: 30px" @bind-Value="EarliestDeparture" />
    </div>
    <div style="margin-top: 10px" class="col">
        <label style="width: auto; margin-bottom: -100px" for="leavingFrom" class="form-label">Rejser fra:</label>
            <InputSelect style="width: 360px; height: 30px" id="leavingFrom" @bind-Value="selectedIataCode">
            @if (iataLocations.Count() == 0)
            {
                <span>Loading...</span>
            }
            else
            {@foreach (var iata in iataLocations)
                {
                    <option value="@iata.Id">@iata.Iata (@iata.City)</option>
                }
            }
        </InputSelect>
    </div>
        </div>
    <div style="margin-top: 10px" class="col">
        <button @onclick="FilterPackages">Opdater</button>
    </div>
    <div style="margin-top: 10px" class="col">
        <button @onclick="SwapSorting">Sorted by lowest price: @SortLowestPrice</button>
    </div>
    </div>
    <div style="margin-top: 10px" class="card-group"> 
        <div class="row"> @* experiment with taking this div out *@
        @foreach (var travelPackage in filteredTravelPackages)
        {
            <div class="col">
                    <div style="width: 10rem; margin-bottom: 15px" class="card"> @* "margin-bottom: 15px" gør så der er lidt mellemrum fra bunden af et kort til toppen af kortet under. Måske burde kortene alignes, så de alle er lige lange? *@
                <img src="/images/hotel.jpg" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">@travelPackage.Title</h5>
                    <p class="CardSubTitle mb-2 text-muted">@travelPackage.Hotel.Name</p>
                    <p class="card-text">@travelPackage.Description</p>
                <Button Color="ButtonColor.Primary" To="/chat" type="ButtonType.Link">Rejs!</Button> @* Tilføjet routing til chatten, hvor jeg får en fejl. Hjælp?  Også tom "Pages" mappe i client*@
            </div>
            </div>
            </div>
        }
        </div>
    </div>
}

@code {


    public int displayedTPs; //Displayed TravelPackages int til at stoppe nye cardgroups og til at vise nye cards i loops
    @* fjern ovenstående? *@

    private async Task SelectPackage(int packageId)
    {
        SelectedPackage = unsortedTravelPackages.Find(tp => tp.Id == packageId);
        currentWeather = await CurrentWeatherService.GetCurrentWeather(SelectedPackage.Flightpaths.First().OutboundFlight.IataDestination.City, "fr");
    }
    public TravelPackage? SelectedPackage { get; set; }
    private List<TravelPackage> filteredTravelPackages = new List<TravelPackage>();
    private List<TravelPackage> unsortedTravelPackages;

    public CurrentWeather currentWeather;

    public DateTime EarliestDeparture;
    public IataLocation LeavingFrom = new IataLocation();

    public List<IataLocation> iataLocations = new List<IataLocation>();
    public int selectedIataCode;

    public void SortByPrice()
    {
        if (!SortLowestPrice)
            filteredTravelPackages = filteredTravelPackages.OrderByDescending(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
        else
            filteredTravelPackages = filteredTravelPackages.OrderBy(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
    }

    public void SwapSorting()
    {
        SortLowestPrice = !SortLowestPrice;
        SortByPrice();
         
    }
    public bool SortLowestPrice { get; private set; }

    public void FilterPackages()
    {
        var travelPackages = unsortedTravelPackages;

        travelPackages = FilterByDate(travelPackages);
        travelPackages = FilterByOrigin(travelPackages);

        displayedTPs = 0; //Reset for den nye visning
        filteredTravelPackages = travelPackages;

        SortByPrice();
    }

    private List<TravelPackage> FilterByDate(List<TravelPackage> travelPackages)
    {
        return travelPackages
            .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.DepartureTime >= EarliestDeparture))
            .ToList();
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {

            unsortedTravelPackages = await TravelPackageService.GetAll() ?? new List<TravelPackage>();
            filteredTravelPackages = new List<TravelPackage>(unsortedTravelPackages);
            foreach (TravelPackage tp in unsortedTravelPackages)
            {
                foreach (Flightpath fp in tp.Flightpaths)
                {
                    if (!iataLocations.Exists(iata => iata.Id == fp.OutboundFlight.IataOrigin.Id))
                        iataLocations.Add(fp.OutboundFlight.IataOrigin);
                }
            }
            SelectedPackage = unsortedTravelPackages.First();
            currentWeather = await CurrentWeatherService.GetCurrentWeather(SelectedPackage.Flightpaths.First().OutboundFlight.IataDestination.City, "fr");

            EarliestDeparture = DateTime.Today;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
            // Handle the error appropriately, e.g., show a user-friendly message
        }

        SortLowestPrice = false;
    }

    private List<TravelPackage> FilterByOrigin(List<TravelPackage> travelPackages)
    {

        if (selectedIataCode != null)
        {
            travelPackages = travelPackages
                .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.IataOrigin.Id == selectedIataCode))
                .ToList();
        }

        return travelPackages;
    }
}
