@page "/packages"
@inject IService<TravelPackage> TravelPackageService
@inject IService<IataLocation> IataLocationService
@inject CurrentWeatherService CurrentWeatherService
@rendermode InteractiveServer

@if (unsortedTravelPackages == null)
{
    <span>Loading...</span>
}
else if (unsortedTravelPackages.Count == 0)
{
    <span>No packages found.</span>
}
else 
{
    <h2>Rejsepakker</h2>
    <label for="leavingFrom" class="form-label">Rejser fra:</label>
    <input style="width:290px; height:25px" type="datetime" @bind-value="EarliestDeparture" />
    <div class="col">
        <label for="leavingFrom" class="form-label">Rejser fra:</label>
        <InputSelect style="width:290px; height:25px" id="leavingFrom" @bind-Value="selectedIataCode">
            @if (iataLocations.Count() == 0)
            {
                <span>Loading...</span>
            }
            else
            {@foreach (var iata in iataLocations)
                {
                    <option value="@iata.Id">@iata.Iata (@iata.City)</option>
                }
            }
        </InputSelect>
        <button @onclick="FilterPackages" style="margin-left:50px">OPDATER</button>
        @* <button @onclick="FilterByOrigin">OPDATER for origin</button> *@
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <button @onclick="SwapSorting">Sorted by lowest price: @SortLowestPrice</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travelPackage in filteredTravelPackages)
                        {
                            <tr>
                                <td><a class="link-offset-2 link-underline link-underline-opacity-0" @onclick="(() => SelectPackage(travelPackage.Id))">@travelPackage.Title</a></td>
                                <td>@(travelPackage.Hotel.Rate + travelPackage.Flightpaths.FirstOrDefault().Fare)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h1 style="font-weight:bold">@SelectedPackage.Title</h1>
                <div class="col">
                    <h2 style="text-shadow: 2px 2px 5px red;">Hotel:</h2>
                    <div class="container">
                        <div class="row">
                            <div class="row">
                            <div class="col-md-5">
                                <h5 style="text-decoration-line: underline;">Name</h5>
                                <p>@SelectedPackage.Hotel.Name</p>
                                    <h5 style="text-decoration-line: underline;">Address</h5>
                                    <p>@SelectedPackage.Hotel.Address</p>
                                @* <h5 style="text-decoration-line: underline;">Address</h5> *@
                                @* <p>@SelectedPackage.Hotel.Address</p> *@
                            </div>
                                <div class="col-md-5">
                                    <h5 style="text-decoration-line: underline;">Check In</h5>
                                    <p>@SelectedPackage.Hotel.CheckIn</p>
                                    <h5 style="text-decoration-line: underline;">Check Out</h5>
                                    <p>@SelectedPackage.Hotel.CheckOut</p>
                                </div>
                            <div class="col">
                                <h5 style="text-decoration-line: underline;">Temp.</h5>
                                <p>@currentWeather.Main.TempMax</p>
                                    <h5 style="text-decoration-line: underline;">Price</h5>
                                    <p>@SelectedPackage.Hotel.Rate</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h2 style="text-shadow: 2px 2px 5px red;">Flightpaths:</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 style="text-decoration-line: underline;">From</h5>
                                @foreach (var flightpath in SelectedPackage.Flightpaths)
                                {
                                    <p>@flightpath.OutboundFlight.Iataorigin.City - @flightpath.OutboundFlight.Iataorigin.Iata</p>
                                }
                            </div>
                            <div class="col">
                                <h5 style="text-decoration-line: underline;">To</h5>
                                @foreach (var flightpath in SelectedPackage.Flightpaths)
                                {
                                    <p>@flightpath.OutboundFlight.Iatadestination.City - @flightpath.OutboundFlight.Iatadestination.Iata</p>
                                }
                            </div>
                            </div>
                            <div class="col">
                                @*Kun én samlet pris pr Flightpath, correct? Flightpath objektets fare er prisen for tur/retur?*@
                                <h5 style="text-decoration-line: underline;">Price (tur/retur)</h5>
                                @foreach (var flightpath in SelectedPackage.Flightpaths)
                                {
                                    <p>@flightpath.Fare</p>
                                }
                            </div>
                        <div class="row">
                            <div class="col">
                                <button style="height: 50px; width: 110px; margin-left: 5px; font-weight:bold">Slet</button>
                                <button style="height: 50px; width: 110px; margin-left: 50px; font-weight:bold">Redigér</button>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Base list<button disabled style="opacity:0">i</button></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var travelPackage in unsortedTravelPackages)
                    {
                        <tr>
                            <td>@travelPackage.Title</td>
                            <td>@(travelPackage.Hotel.Rate + travelPackage.Flightpaths.FirstOrDefault().Fare)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (currentWeather != null)
    {
        <h1>@currentWeather.Main.TempMax</h1>
    }
}

@code {

    private async Task SelectPackage(int packageId)
    {
        SelectedPackage = unsortedTravelPackages.Find(tp => tp.Id == packageId);
        currentWeather = await CurrentWeatherService.GetCurrentWeather(SelectedPackage.Flightpaths.First().OutboundFlight.Iatadestination.City, "fr");
    }
    public TravelPackage? SelectedPackage { get; set; }

    public DateTime EarliestDeparture;

    public CurrentWeather currentWeather;

    private List<TravelPackage> filteredTravelPackages = new List<TravelPackage>();

    private List<TravelPackage> unsortedTravelPackages;

    //public string Header = "Fly pakker";
    // udkommenteret kan egentlig bare fjernes?
    //public IataLocation LeavingFrom  = new IataLocation();

    public List<IataLocation> iataLocations = new List<IataLocation>();
    public int selectedIataCode; // how is this an Int? ô_Ô

    public void SortByPrice()
    {
        if (!SortLowestPrice)
            filteredTravelPackages = filteredTravelPackages.OrderByDescending(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
        else
            filteredTravelPackages = filteredTravelPackages.OrderBy(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
    }

    public void SwapSorting()
    {
        SortLowestPrice = !SortLowestPrice;
        SortByPrice();
    }
    public bool SortLowestPrice { get; private set; }

    public void FilterPackages()
    {
        var travelPackages = unsortedTravelPackages;

        travelPackages = FilterByDate(travelPackages);
        travelPackages = FilterByOrigin(travelPackages);

        filteredTravelPackages = travelPackages;

        SortByPrice();
    }

    private List<TravelPackage> FilterByDate(List<TravelPackage> travelPackages)
    {
        return travelPackages
            .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.DepartureTime >= EarliestDeparture))
            .ToList();
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {

            unsortedTravelPackages = await TravelPackageService.GetAll() ?? new List<TravelPackage>();
            filteredTravelPackages = new List<TravelPackage>(unsortedTravelPackages);
            foreach (TravelPackage tp in unsortedTravelPackages)
            {
                foreach (Flightpath fp in tp.Flightpaths)
                {
                    if (!iataLocations.Exists(iata => iata.Id == fp.OutboundFlight.Iataorigin.Id))
                        iataLocations.Add(fp.OutboundFlight.Iataorigin);
                }
            }
            SelectedPackage = unsortedTravelPackages.First();
            currentWeather = await CurrentWeatherService.GetCurrentWeather(SelectedPackage.Flightpaths.First().OutboundFlight.Iatadestination.City, "fr");
            
            EarliestDeparture = DateTime.Today;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
            // Handle the error appropriately, e.g., show a user-friendly message
        }

        SortLowestPrice = false;
    }

    private List<TravelPackage> FilterByOrigin(List<TravelPackage> travelPackages)
    {

        if (selectedIataCode != null)
        {  
            travelPackages = travelPackages
                .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.Iataorigin.Id == selectedIataCode))
                .ToList();
        }

        return travelPackages;
    }
}