@page "/packages"
@inject IService<TravelPackage> TravelPackageService
@inject IService<IataLocation> IataLocationService
@rendermode InteractiveServer
@if (unsortedTravelPackages == null)
{
    <span>Loading...</span>
}
else if (unsortedTravelPackages.Count == 0)
{
    <span>No packages found.</span>
}
else 
{
    <h2>Rejsepakker</h2>
    <label for="leavingFrom" class="form-label">Rejser fra:</label>
    <input type="datetime" @bind-value="EarliestDeparture"/>
    <button @onclick="FilterPackages">OPDATER for dato</button>
    <div class="col">
        <label for="leavingFrom" class="form-label">Rejser fra:</label>
        <InputSelect id="leavingFrom" @bind-Value="selectedIataCode">
            @if (iataLocations.Count() == 0)
            {
                <span>Loading...</span>
            }
            else
            {@foreach (var iata in iataLocations)
                {
                    <option value="@iata.Id">@iata.Iata (@iata.City)</option>
                }
            }
        </InputSelect>
        @*utton @onclick="FilterByOrigin">OPDATER for origin</button>*@
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <button @onclick="SwapSorting">Sorted by lowest price: @SortLowestPrice</button>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travelPackage in filteredTravelPackages)
                        {
                            <tr>
                                <p><a class="link-offset-2 link-underline link-underline-opacity-0" @onclick="(() => SelectPackage(travelPackage.Id))">@travelPackage.Title</a></p>
                                <td>@(travelPackage.Hotel.Rate + travelPackage.Flightpaths.FirstOrDefault().Fare)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travelPackage in unsortedTravelPackages)
                        {
                            <tr>
                                <td>@travelPackage.Title</td>
                                <td>@(travelPackage.Hotel.Rate + travelPackage.Flightpaths.FirstOrDefault().Fare)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                <h2>@SelectedPackage.Title</h2>
                <div class="col">
                    <h3>Hotel</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5>Name</h5>
                                <p>@SelectedPackage.Hotel.Name</p>
                            </div>
                            <div class="col">
                                <h5>Check In</h5>
                                <p>@SelectedPackage.Hotel.CheckIn</p>
                            </div>
                            <div class="col">
                                <h5>Check Out</h5>
                                <p>@SelectedPackage.Hotel.CheckOut</p>
                            </div>
                            <div class="col">
                                <h5>Address</h5>
                                <p>@SelectedPackage.Hotel.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3>Flightpaths</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5>From</h5>
                                @foreach (var flightpath in SelectedPackage.Flightpaths)
                                {
                                    <p>@flightpath.OutboundFlight.Iataorigin.City - @flightpath.OutboundFlight.Iataorigin.Iata</p>
                                }
                            </div>
                            <div class="col">
                                <h5>To</h5>
                                @foreach (var flightpath in SelectedPackage.Flightpaths)
                                {
                                    <p>@flightpath.OutboundFlight.Iatadestination.City - @flightpath.OutboundFlight.Iatadestination.Iata</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card mb-4" style="width: 18rem;">
            <img src="/images/hotel.jpg" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">@SelectedPackage.Title</h5>
                <p class="CardSubTitle mb-2 text-muted">@SelectedPackage.Hotel.Name</p>
                <p class="card-text">@SelectedPackage.Description</p>
                <Button Color="ButtonColor.Primary" To="#" type="buttontype.link">Rejs!</Button> 
            </div>
        </div>
        <div class="card mb-4" style="width: 18rem;">
            <img src="/images/hotel.jpg" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">@SelectedPackage.Title</h5>
                <p class="CardSubTitle mb-2 text-muted">@SelectedPackage.Hotel.Name</p>
                <p class="card-text">@SelectedPackage.Description</p>
                <Button Color="ButtonColor.Primary" To="#" type="buttontype.link">Rejs!</Button> 
            </div>
        </div>
        <div class="card mb-4" style="width: 18rem;">
            <img src="/images/hotel.jpg" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">@SelectedPackage.Title</h5>
                <p class="CardSubTitle mb-2 text-muted">@SelectedPackage.Hotel.Name</p>
                <p class="card-text">@SelectedPackage.Description</p>
                <Button Color="ButtonColor.Primary" To="#" type="buttontype.link">Rejs!</Button> 
            </div>
        </div>
        <!-- Repeat more cards here -->
    </div>
    <div class="card-group">
        <div class="card mb-4" style="width: 18rem;">
            <img src="/images/hotel.jpg" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">@SelectedPackage.Title</h5>
                <p class="CardSubTitle mb-2 text-muted">@SelectedPackage.Hotel.Name</p>
                <p class="card-text">@SelectedPackage.Description</p>
                <Button Color="ButtonColor.Primary" To="#" type="buttontype.link">Rejs!</Button> 
            </div>
        </div>
        <div class="card mb-4" style="width: 18rem;">
            <img src="/images/hotel.jpg" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">@SelectedPackage.Title</h5>
                <p class="CardSubTitle mb-2 text-muted">@SelectedPackage.Hotel.Name</p>
                <p class="card-text">@SelectedPackage.Description</p>
                <Button Color="ButtonColor.Primary" To="#" type="buttontype.link">Rejs!</Button> 
            </div>
        </div>
        <div class="card mb-4" style="width: 18rem;">
            <img src="/images/hotel.jpg" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">@SelectedPackage.Title</h5>
                <p class="CardSubTitle mb-2 text-muted">@SelectedPackage.Hotel.Name</p>
                <p class="card-text">@SelectedPackage.Description</p>
                <Button Color="ButtonColor.Primary" To="#" type="buttontype.link">Rejs!</Button> 
            </div>
        </div>
        <!-- Repeat more cards here -->
    </div>

}

@code {

    private void SelectPackage(int packageId)
    {
        SelectedPackage = unsortedTravelPackages.Find(tp => tp.Id == packageId);
    }
    public TravelPackage? SelectedPackage { get; set; }

    public DateTime EarliestDeparture;

    private List<TravelPackage> filteredTravelPackages = new List<TravelPackage>();

    private List<TravelPackage> unsortedTravelPackages;

    public string Header = "Fly pakker";

    public IataLocation LeavingFrom  = new IataLocation();

    public List<IataLocation> iataLocations = new List<IataLocation>();
    public int selectedIataCode;

    public void SortByPrice()
    {
        if (!SortLowestPrice)
            filteredTravelPackages = filteredTravelPackages.OrderByDescending(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
        else
            filteredTravelPackages = filteredTravelPackages.OrderBy(tp => tp.Hotel.Rate + tp.Flightpaths.FirstOrDefault().Fare).ToList();
    }

    public void SwapSorting()
    {
        SortLowestPrice = !SortLowestPrice;
        SortByPrice();
    }
    public bool SortLowestPrice { get; private set; }

    public void FilterPackages()
    {
        var travelPackages = unsortedTravelPackages;

        travelPackages = FilterByDate(travelPackages);
        travelPackages = FilterByOrigin(travelPackages);

        filteredTravelPackages = travelPackages;
        
        SortByPrice();
    }

    private List<TravelPackage> FilterByDate(List<TravelPackage> travelPackages)
    {
        return travelPackages
            .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.DepartureTime >= EarliestDeparture))
            .ToList();
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            unsortedTravelPackages = await TravelPackageService.GetAll() ?? new List<TravelPackage>();
            filteredTravelPackages = new List<TravelPackage>(unsortedTravelPackages);
            foreach (TravelPackage tp in unsortedTravelPackages)
            {
                foreach (Flightpath fp in tp.Flightpaths)
                {
                    if (!iataLocations.Exists(iata => iata.Id == fp.OutboundFlight.Iataorigin.Id))
                        iataLocations.Add(fp.OutboundFlight.Iataorigin);
                }
            }
            SelectedPackage = unsortedTravelPackages.First();
            EarliestDeparture = DateTime.Today;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
            // Handle the error appropriately, e.g., show a user-friendly message
        }

        SortLowestPrice = false;
    }

    private List<TravelPackage> FilterByOrigin(List<TravelPackage> travelPackages)
    {

        if (selectedIataCode != null)
        {  
            travelPackages = travelPackages
                .Where(tp => tp.Flightpaths.Any(f => f.OutboundFlight.Iataorigin.Id == selectedIataCode))
                .ToList();
        }

        return travelPackages;
    }
}