@page "/packages"
@inject IService<TravelPackage> TravelPackageService

<h2>Travel Packages</h2>

@if (travelPackages == null)
{
    <span>Loading...</span>
}
else if(travelPackages.Count == 0)
{
    <span>No packages found.</span>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travelPackage in travelPackages)
                        {
                            <tr>
                                <td>@travelPackage.Title</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-1">

            </div>
            <div class="col">
                <h2>@SelectedPackage.Title</h2>
                <div class="col">
                    <h3>Hotel</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5>Name</h5>
                                <p>@SelectedPackage.Hotel.Name</p>
                            </div>
                            <div class="col">
                                <h5>Check In</h5>
                                <p>@SelectedPackage.Hotel.CheckIn</p>
                            </div>
                            <div class="col">
                                <h5>Check Out</h5>
                                <p>@SelectedPackage.Hotel.CheckOut</p>
                            </div>
                            <div class="col">
                                <h5>Address</h5>
                                <p>@SelectedPackage.Hotel.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3>Flightpaths</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5>From</h5>
                                @foreach (var flightpath in SelectedPackage.Flightpaths)
                                {
                                    <p>@flightpath.OutboundFlight.Iataorigin.City - @flightpath.OutboundFlight.Iataorigin.Iata</p>
                                }
                            </div>
                            <div class="col">
                                <h5>To</h5>
                                @foreach (var flightpath in SelectedPackage.Flightpaths)
                                {
                                    <p>@flightpath.OutboundFlight.Iatadestination.City - @flightpath.OutboundFlight.Iatadestination.Iata</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@code {
    public TravelPackage? SelectedPackage => travelPackages.FirstOrDefault();

    private List<TravelPackage> travelPackages;

    protected override async Task OnInitializedAsync()
    {
        travelPackages = await TravelPackageService.GetAll() ?? new List<TravelPackage>();
        
    }

    
}